body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.main {
	background-color: skyblue;
	height: 100%;
	left:200px;
	right:300px;
	display: inline-block;
	position: absolute;
}

.left {
	background-color: pink;
	height: 100%;
	width: 200px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	
}

.right {
	background-color: greenyellow;
	height: 100%;
	width: 300px;
	right:0;
	display: inline-block;
	position: absolute;
}