body{
	margin: 0;
}

.header{
	display: block;
}

.top_1{
	display: flex;
	width: 70%;
	margin: 0 auto;
	justify-content: space-between;
	vertical-align: center;
}

.top_2{
	display: block;
	width: 70%;
	margin: 0 auto;
}

.main-detail{
	width: 70%;
	margin: 0 auto;
}

.collection{
	width: 70%;
}

.aside_real {
	display: flexbox;
	width: 10%;
	height: 550px;
	padding: 60px 0 20px 20px;	
}

.main{
	display: block;
}

.main_main{
	background-color: #EAEAEA;
	display: flex;
	height: 80px;
	/* padding: 0 80px 0 10px; */
}

.main_header{
	display: block;
	border-bottom: 1px solid black;
}

.main_left{
	display: flex;
	align-items: center;
	padding-left: 0;
}

.main_right{
	display: block;
	padding-top: 25px;
}

.name_0 {
	display: flex;
	justify-content: space-between;
}

.name_1{
	height: 65px;
	padding-top: 15px;
	font-size: 30px;
	color: #0000CD;

}

.name_2{
	align-items:center;
	justify-content: space-between;
	padding-top: 30px;

}


header ul{
	display: flex;
	width: 110%;
	height: 100%;
} 

header ul > li{
	font-size: 20px;
	height: 100%;
	display: flex;
	align-items: center;
}

.box1, .box2, .box3{
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	margin-right: 10px;
}

.real_main {
	display: inline-block;
	width: 70%;
	margin: 0 auto;
}

.know {
	font-size: 25px;
	width: 70%;
	margin: 0 auto;	
}

.buttons {
	display: flex;
	font-size: 20px;
}

.list {
	display: flex;
	font-size: 20px;
	width: 35px;
	height: 30px;
	align-items: center;
	margin-right: 100px;
}

.small_menu{
	font-size: 20px;
	border: 1px solid;
	border-bottom: 7px solid #DAA520;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.web {
	display: flex;
	color: #0000CD;
}

.middle{
	display: inline-block;
}

.aside1 {
	text-align: left;
	border: 1px solid black;
	font-size: 20px;
	padding: 5px;
	margin: 5px;
	border-right: 5px solid red;
}


.aside2 {
	text-align: left;
	border: 1px solid black;
	font-size: 20px;
	padding: 5px;
	margin: 5px;
	color: #0000CD;
}


.aside3 {
	text-align: left;
	border: 1px solid black;
	font-size: 20px;
	padding: 5px;
	margin: 5px;
	color: #0000CD;
}


.aside4 {
	text-align: left;
	border: 1px solid black;
	font-size: 20px;
	padding: 5px;
	margin: 5px;
	color: #0000CD;
}


.aside5 {
	text-align: left;
	border: 1px solid black;
	font-size: 20px;
	padding: 5px;
	margin: 5px;
	color: #0000CD;
}

footer {
	margin: 0 auto;
	text-align: center;
	flex-shrink: 0;
}

footer > div {
	display: inline-block;
}
footer ul{
	display: flex;
	height: 100%;
} 

footer ul > li{
	font-size: 15px;
	height: 100%;
	display: inline-block;
}

.left_s > ul {
	display: flex;
	width: 150%;
	
}
.right_s > ul {
	display: flex;
	width: 150%;
}

.middle_s {
	display: inline-block;
	margin: 0 5px 0 150px;
}

.middle_s > img {
	height: 30px;
	width: 30px;

}